// Typography 
$font-first: 'Open Sans', sans-serif;

// Colors
$color-first: #FFFFFF;
$color-second: #CB0D1F;
$color-third: #959595;
$color-fourth: #E2DEDC;
$color-six:#231F20;
$color-seven: #ACACAC;
$color-eight: #1E2B50;
$color-nine: #F26324;
$color-ten: #27A3A9;
$color-eleven: #626262;
$color-twelve: #00A8A9;

